# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest cache
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables file
.env
.DS_Store